<button routerLink="../.." class="ui grey button tiny">
  <i class="arrow left icon"></i>
  Zurück zur Impfterminübersicht
</button>

<h1>Anmeldung</h1>
<h3>{{vaccination?.location.name}}</h3>
<p>Dieser Impftermin findet bei der Adresse <b>{{vaccination?.location.address}}, {{vaccination?.location.zipcode}}
  {{vaccination?.location.city}}</b> am <b>{{vaccination?.dateOfVaccination | date:"dd.MM.yyyy"}}</b> zwischen <b>{{vaccination?.fromTime | date:"shortTime"}} und
  {{vaccination?.toTime | date:"shortTime"}}</b> statt.</p>

<form class="ui large form" [formGroup]="registrationForm" (ngSubmit)="addUserToVaccination()"
  style="margin-bottom: 50px;">
  <div class="field">
    <label>Vorname</label>
    <input type="text" placeholder="Vorname" formControlName="firstname">
    <div
      *ngIf="registrationForm.get('firstname').invalid && (registrationForm.get('firstname').dirty || registrationForm.get('firstname').touched) && registrationForm.get('firstname').hasError('required')"
      class="ui negative message">Vorname ist verpflichtend </div>
  </div>
  <div class="field">
    <label>Nachname</label>
    <input type="text" placeholder="Nachname" formControlName="lastname">
    <div
      *ngIf="registrationForm.get('lastname').invalid && (registrationForm.get('lastname').dirty || registrationForm.get('lastname').touched) && registrationForm.get('lastname').hasError('required')"
      class="ui negative message">Nachname ist verpflichtend </div>
  </div>
  <div class="field">
    <label>Geschlecht</label>
    <select class="ui dropdown" style="border-radius: 4px;" [(ngModel)]='selectedGender' formControlName="gender">
          <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
        </select>
    <div
      *ngIf="registrationForm.get('gender').invalid && (registrationForm.get('gender').dirty || registrationForm.get('gender').touched) && registrationForm.get('gender').hasError('required')"
      class="ui negative message">Geschlecht ist verpflichtend </div>
  </div>
  <div class="field">
    <label>Geburtsdatum</label>
    <input type="date" placeholder="Geburtsdatum" formControlName="dateOfBirth">
    <div
      *ngIf="registrationForm.get('dateOfBirth').invalid && (registrationForm.get('dateOfBirth').dirty || registrationForm.get('dateOfBirth').touched) && registrationForm.get('dateOfBirth').hasError('required')"
      class="ui negative message">Geburtsdatum ist verpflichtend </div>
  </div>
  <div class="field">
    <label>Sozialversicherungsnummer (SVNR)</label>
    <input type="number" placeholder="SVNR" formControlName="socialSecurityNumber">
    <div
      *ngIf="registrationForm.get('socialSecurityNumber').invalid && (registrationForm.get('socialSecurityNumber').dirty || registrationForm.get('socialSecurityNumber').touched) && registrationForm.get('socialSecurityNumber').hasError('required')"
      class="ui negative message">SVNR ist verpflichtend </div>
  </div>
  <div class="field">
    <label>Telefonnummer</label>
    <input type="tel" placeholder="Telefonnummer" formControlName="phonenumber">
    <div
      *ngIf="registrationForm.get('phonenumber').invalid && (registrationForm.get('phonenumber').dirty || registrationForm.get('phonenumber').touched) && registrationForm.get('phonenumber').hasError('required')"
      class="ui negative message">Telefonnummer ist verpflichtend </div>
  </div>
  <div class="field">
    <label>Email</label>
    <input type="email" placeholder="Email" formControlName="email">
    <div
      *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').dirty || registrationForm.get('email').touched) && registrationForm.get('email').hasError('required')"
      class="ui negative message">Telefonnummer ist verpflichtend </div>
  </div>
  <button type="submit" class="ui blue labeled icon button" [disabled]="registrationForm.invalid">
        <i class="save icon"></i>
        Zum Impftermin anmelden
      </button>
</form>